<link rel="stylesheet" href="/css/_search.css">

<form action="/" method="get" id="search-form">
    <label id="search-label" for="search-csvs">Search Files: </label>
    <input type="text" name="search" id="search">
    <input type="submit" value="search" id="search-btn">
</form>