
<link rel="stylesheet" href="/css/home.css"> <!-- Include a CSS file (home.css) -->

<div id="upload">
    <%- include('_upload'); -%> <!-- Include the '_upload' template -->
</div>

<div id="csv-search">
    <%- include('_search') -%> <!-- Include the '_search' template -->
</div>

<div id="csvs-table">
    <%- include('_csvs'); -%> <!-- Include the '_csvs' template -->
</div>



