<link rel="stylesheet" href="/css/home.css">

<div id="upload">

    <%- include('_upload'); -%> 

</div>

<div id="csv-search">
    <%- include('_search') -%>
</div>

<div id="csvs-table">

    <%- include('_csvs'); -%> 

</div>

