<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/_header.css"> <!-- Include a CSS file -->
    <%- style %> <!-- Include any additional styles (if needed) -->
</head>
<body>
    <%- include('_header'); -%> <!-- Include the header template -->

    <%- body %> <!-- Include the main body content -->

    <%- script %> <!-- Include any scripts (if needed) -->
</body>
</html>
